.suggest{
    display: block;
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0rem;
    background-color: var(--background);
}
.suggest_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;      
}